@{
    ViewBag.Title = "About";
}
<div class="text-center vh-100" style="background-color:burlywood;">
    <h1>About me</h1>
    <img width=300 class="rounded-circle" src="~/Assets/images/about-bg.jpg" alt="" />
    <div class="w-50 h6 m-auto">@ViewBag.Message</div>
</div>

