<aside class="single_sidebar_widget popular_post_widget">
    <h3 class="widget_title">About me!</h3>
    <div class="text-center">
        <img class="w-50 rounded-circle" src="~/assets/images/avatar01.png" />
    </div>
    <div class="text-center">
        <a class="mr-3" href="#"><img src="~/assets/images/facebook-f-brands.svg" alt="facebook" width="15" height="15" /></a>
        <a class="mr-3" href="#"><img src="~/assets/images/google-brands.svg" alt="facebook" width="15" height="15" /></a>
        <a href="#"><img src="~/assets/images/github-brands.svg" alt="facebook" width="15" height="15" /></a>
    </div>
    <p class="text-center">Boot camps have its supporters andit sdetractors. Some people do not understand why you should have to spend money on boot camp when you can get. Boot camps have itssuppor ters andits detractors.</p>
</aside>


