<aside class="single_sidebar_widget popular_post_widget">
    <h3 class="widget_title">Lastest Posts</h3>
    @foreach (var item in Model)
    {
        <div class="media post_item mb-3">
            <img style="width: 120px; height : 80px;" src="~/assets/images/@item.ImageUrl" alt="@item.ImageUrl" />
            <div class="media-body ml-2">
                <a href="@Url.Action("Details", "Post", new { @year = item.PostedOn.Year, 
                        month = item.PostedOn.Month.ToString("00"), urlSlug = item.UrlSlug })"><h6>@item.Title</h6></a>
                <p><time class="timeago" datetime="@item.PostedOn"></time></p>
            </div>
        </div>
    }
    <div class="br"></div>
</aside>

