@foreach(var item in Model)
{
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("GetPostByCategory", "Post", new { category = Model[item].Name})">@Model[item].Name</a>
    </li>
}
<li class="nav-item dropdown active">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Other Category
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        @for (int i = 2; i < Model.Count; i++)
        {
            <a class="dropdown-item" href="@Url.Action("GetPostByCategory", "Post", new { category = Model[i].Name})">@Model[i].Name</a>
        }
    </div>
</li>